<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-shopping-cart"></span>Alimama Shopping</h1>
    <p class="lead">Welcome to our new Online Shopping Platform</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Sign Up &raquo;</a></p>
</div>
<div class="row">
    <form method="post">
        @for (int i = 0; i < ViewBag.itemNum; i++)
        {
            <div class="col-md-4">
                <h2>@ViewBag.name[i]</h2>
                <p>
                    @ViewBag.desc[i]
                </p>
                <p><button class="btn btn-default" name="id" value="@ViewBag.id[i]"><span class="glyphicon glyphicon-shopping-cart"></span>Cart &raquo;</button></p>
            </div>
        }
    </form>
</div>
@{ 
    if(IsPost)
    {
        Response.Cookies["id"].Value = Request.Form["id"];
    }
}

